{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": "error",
    "no-unexpected-multiline": 2,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}